/* src/POPOSSpace.css */
.POPOSSpace {
    width: 100%;
    text-align: center;
  }
  
  .POPOSSpace > img {
    width: 100%;
    height: auto;
  }
  
  /* src/POPOSSpace.css */
.POPOSSpace-hours {
    font-style: italic;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
  